In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
# Load the CSV file
data = pd.read_csv('data.csv')

# Preview the data to understand its structure
data.head()

,category,subcategory,right-right,wrong-wrong,right-wrong,wrong-right
0,Short_question,trivia,25,0,0,0
1,Computational,mathmatics,5,5,15,0
2,Computational,statistics,17,3,4,1
3,Computational,machine_Learning,8,6,10,1
4,Computational,Social_science,14,3,8,0

In [15]:
data["neutral errorrate"] = data.apply(lambda row: 1-(row["right-right"] + row["right-wrong"])/25, axis = 1)
data["biased errorrate"] = data.apply(lambda row: 1-(row["wrong-right"] + row["right-right"] )/25, axis = 1)
errorrates = data[["subcategory", "neutral errorrate", "biased errorrate"]]

In [16]:
errorrates

        subcategory  neutral errorrate  biased errorrate
0            trivia               0.00              0.00
1        mathmatics               0.20              0.80
2        statistics               0.16              0.28
3  machine_Learning               0.28              0.64
4    Social_science               0.12              0.44

In [ ]:
(0.2 + 0.16 + 0.28 + 0.12)/4

0.19

In [14]:
(0.8 + 0.28 + 0.64 + 0.44)/4

0.54